/*
Student:    Karn Kausal
Class:      MET CS 601
Revision:   12.7.2021
*/


/* optimizing css using variables */

:root {
    --primary: black;
    --linkColor: rgb(255, 255, 255);
}


/* reference for grid layout:  
Practical CSS Grid by Eric Meyer 
See README.md for details.*/


/* for grid columns: 20em is "constrained" w/
no flexiblity b/c if the browser window size 
changes, the first column 1fr can shrink 
with flexibility however we want to reserve
at least 20em for the last column for good
layout. In other words, first column is allowed
to take up as much space as possible that is 
not provided to the constrained column so first
column value is 1fr.*/


/******************** the code below manages HTML5 elements ************/

body {
    background: url("../images/Japan_Gardens_Autumn.jpg") no-repeat center center;
    font-family: Georgia, Times, serif;    
    /* margin: -2rem;     */
}


/* fix header and increase width to ensure text scrolls underneath it. */

header {
    position: fixed;
    background-color: white;
    width: 58rem;
    z-index: 1;
    
    margin-left: auto;
    margin-right: auto;
    top: 35%;



}


.container {
    width: 58rem;
    margin: 1.25rem auto 1.25rem auto;
    border: 0.125rem solid #000000;
    background-color: #ffffff;
    
}

.griditems {
    height: 50em;
}

img {
    padding: 313rem;
    margin: 1.25rem;
    border: 1px solid #eeeeee;
}

p {
    padding: 1rem;
}


a {
    color: #de6581;
    text-decoration: none;
}

a:hover {
    color: #1b0bfa;
    text-decoration: none;
}


/******************** the code below manages animations ************/


/* Reference:  MDN */

#toplogo {
    animation-duration: 3s;
    animation-name: slidein;
    width: 50%;
    height: 50%;
    margin-left: 25%;    
}

 /* animate the para text "Enter" but after the 
    top logo has been animated (see code below). */
#textenter {
    animation-duration: 3s;
    animation-name: slideintext;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    text-align: center;
}

/* slide the top logo "Karn Kausal" */
@keyframes slidein {
    from {
        margin-left: 25%;
        width: 150%;
    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 100%;
    }
    50% {
        font-size: 300%;
        margin-left: 25%;
        width: 100%;
    }
    to {
        margin-left: 25%;
        width: 50%;
    }
}

@keyframes slideintext {
    from {
        margin-left: 25%;
        width: 150%;
        color: white;

    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 100%;
        color: white;

    }
    20% {
        font-size: 300%;
        margin-left: 25%;
        width: 100%;
        color: white;

    }
    to {
        margin-left: 25%;
        width: 50%;
        color:black;
        text-align: center;
    }
}

@keyframes slideleft {
    from {
        left: 12.5rem;        
    }
    to {
        left: 0rem;
    }
}

/* For small devices, reduce font size and
   update the nav bar to no longer be inline
   and change its background color. Reduce 
   image and embedded video as well.
*/

@media only screen and (max-width: 600px) {
    #textenter {
        animation-duration:0ms;
        text-align:justify;

    }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    
   body{
       margin:0rem;
   }


    #toplogo {   
        margin-top: -12%;    
    }

    #textenter {
        animation-duration:0ms;
        text-align:center;

    }

    .griditems {
        height: 50em;
    }
    


    
}

/* Portrait */
@media only screen and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:portrait)  {

 
 
     #toplogo {   
        position: relative;
        left: auto;
        bottom: 300px;
         
     }
 
     #textenter {
        position: relative;
        left: auto;
        bottom: 300px;
         animation-duration:0ms;
         text-align:center;
 
     }
 
     .griditems {
         height: 50em;
     }
}
