/*
Student:    Karn Kausal
Class:      MET CS 601
Revision:   11.21.2021
*/


/* optimizing css using variables */

:root {
    --primary: black;
    --linkColor: rgb(255, 255, 255);
}


/* reference for grid layout:  
Practical CSS Grid by Eric Meyer 
See README.md for details.*/


/* for grid columns: 20em is "constrained" w/
no flexiblity b/c if the browser window size 
changes, the first column 1fr can shrink 
with flexibility however we want to reserve
at least 20em for the last column for good
layout. In other words, first column is allowed
to take up as much space as possible that is 
not provided to the constrained column so first
column value is 1fr.*/


/******************** the code below manages HTML5 elements ************/

body {
    background: url("../images/Japan_Gardens_Autumn.jpg") no-repeat center center fixed;
    font-family: Georgia, Times, serif;
    margin: -2rem;
    /* set the width */
    margin-left: auto;
    margin-right: auto;
}


/* fix header and increase width to ensure text scrolls underneath it. */

header {
    position: fixed;
    background-color: white;
    width: 58rem;
    z-index: 1;

}

h3{
    padding-left: 1rem;
}

#sidebar{
    padding-left: 4rem;
}

.container {
    width: 58rem;
    /* margin: 20px auto 20px auto; */
    margin: 1.25rem auto 1.25rem auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

nav {
    clear: both;
    color: #ffffff;
    background-color: #413113;
    height: 30px;
}

footer {
    clear: both;
    color: #ffffff;
    background-color: #413113;
    height: 30px;
    font-size: 1rem;
    padding: 1rem;
}

nav ul {
    margin: 0px 0px 0px -30px;
    padding: 5px 16px 5px 80px;
}

nav li {
    display: inline;
    margin-right: 25px;
}

#navigate li a {
    color: white;
    text-decoration: none;
    padding: 2rem;
}


/* style items in the nav bar to underline with mouse hover. */

#navigate li a:hover {
    text-decoration: underline;
}

/* Fixing last row to 20em provides full white background for #mainpage */
.griditems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    margin-top: 12rem;
}

    /* the grid on home.html must be updated separately given the animation on that page */
    #gridhomehtml {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 20em;
    }

article {
    border-right: 1px solid #eeeeee;
}

#mainpage {
    grid-column: 1 /span 2;
}


img {
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

p {
    padding: 1rem;
}

#welcomemsg, #mainpara1 {
    position: relative;
    top: 60px;
    font-size:1.5rem;
}

iframe {
    padding: 5px;
    margin: 20px;
    width: 641px;    
    height: 426px;
    border: 1px solid #eeeeee;

}

a {
    color: #de6581;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
  }

form{
    width: 640px;
    padding: 15px;
    margin: 20px;
    border: 1px solid #eeeeee;

}

#careerRadioBtns {
    width: 640px;
    padding: 15px;
    margin: 20px;

}




/******************** the code below manages animations ************/


/* Reference:  MDN */



@keyframes slideleft {
    from {
        left: 70px;        
    }
    to {
        left: 0px;
    }
}

@keyframes slidedown {
    from {
        top: 0px;        
    }
    to {
        top: 60px;
    }
}


/******************** the code below manages media queries ************/


/* Small devices (smartphones, 600px and down)*/


/* For small devices, reduce font size and
   update the nav bar to no longer be inline
   and change its background color. Reduce 
   image and embedded video as well.
*/

@media only screen and (max-width: 600px) {
    body {
        background: white;
        font-size: .75rem;
    }

    h2{
        padding-left: 2rem;
        margin:0rem;
    }

    h3{
        padding:0rem;
        
    }
    

    img {
        width: 12rem;
        padding: 1rem;
        height:auto;
    }
    iframe {
        width: 12rem;
        padding: 0rem;        
        height:auto;
        margin-top:2rem;
    }

    #navigate li a {
        display: block;
        font-size: .7rem;
        padding: 0rem;
    }
 

    nav {
        clear: both;
        color: #ffffff;
        background-color: #413113;
        height: auto;
    }

    nav ul {
        margin: 0px;
        padding: 5px 16px 5px 80px;
        width: 10px;
    }
    
    #toplogo {
        margin:auto;
        width: 62%;
        animation:0s;
        border: 0rem;
    }
    header {
        width: 42rem;
        
    }
    footer {
        width: 27rem;

    }
    

    p{
        width: 20rem;
        padding-left:2rem;
        
    }
    article#careerSelection{
        margin-top: 2rem;

    }

    #mainpara1{
        font-size: 1.2rem;
    }

    article{
        margin:1rem;        
    }
    article li {
        padding-left: 2rem;
    }

    .container {
        width: 28rem;
        margin: auto;
        border: 2px solid white;
        background-color: #ffffff;
        
    }
    .griditems {
        /* fixes the width for a smartphone to a clean/concise width */
        grid-template-columns: 1fr;
        margin-top: 16rem;
        
    }


    
    form{
        width: 280px;
        padding: 15px;
        margin: 20px;
        border: 1px solid #eeeeee;
    
    }

    #careerRadioBtns{
        width: 280px;
        padding: 15px;
        margin: 20px;
    }

    #careerSelection {
        margin:1rem;
    }
   
   
    table {
        padding: .5rem;
        margin-left: 1rem;
        border: .5px solid black;
          
      }

      #articleMessageExperience {
        height: auto;
    }
    
    #sidebar p{
        padding:0rem;
        
    }
    #sidebar{
        padding:1rem;
        
    }

}


/* Medium devices (tablets, 600px and up)*/


@media only screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background: url("../images/Japan_Gardens_Autumn1280px.jpg") no-repeat center center fixed;
        font-size: .75rem;
        position:relative;
        margin:-1.2rem;
        
    }

    h2{
        padding-left: 2rem;
        margin:0rem;
    }

    h3{
        padding:0.2rem;
    }

    header {
        position: fixed;
        background-color: white;
        width: 42rem;
        z-index: 1;
    }

    .container {
        width: 42rem;
        margin: 20px auto 20px auto;
        border: 2px solid #000000;
        background-color: #ffffff;
    }
    .griditems {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 9rem;  
              
    }

    
    img {
        width: 12rem;
        padding: 1rem;
        height:auto;
        margin:0rem;
    }
    iframe {
        width: 12rem;
        padding: 1rem;
        height:auto;
    }
    #navigate li {
        margin:0rem;
        
    }


    #toplogo {
        animation-duration: 0s;

    }



    form{
        width: 480px;
        padding: 15px;
        margin: 20px;
        border: 1px solid #eeeeee;
    
    }

    #careerRadioBtns{
        width: 480px;
        padding: 15px;
        margin: 20px;
    
    }
    
    #careerSelection {
        margin:2rem;
    }
    

    p{
        padding:0.2rem;
    }
    #sidebar{
        padding: 0rem;
        margin: 0rem;
    }

    #articleMessageExperience {
        height: auto;
    }

}

/* Portrait */
@media only screen and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:portrait) {
    /* Portrait styles here */
    body {
        background: url("../images/Japan_Gardens_Autumn1280px.jpg") no-repeat center center;
        font-size: .75rem;
        position:relative;
        margin:-1.2rem;
        margin-left: auto;
        margin-right: auto;
        
    }

    h2{
        padding-left: 2rem;
        margin:0rem;
    }

    h3{
        padding:0.2rem;
    }

    header {
        position: fixed;
        background-color: white;
        width: 42rem;
        z-index: 1;
    }

    .container {
        width: 42rem;
        margin: 20px auto 20px auto;
        border: 2px solid #000000;
        background-color: #ffffff;
        
    }
    .griditems {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 9rem;                
        
    }
    
    img {
        width: 12rem;
        padding: 1rem;
        height:auto;
        margin:0rem;
    }
    iframe {
        width: 12rem;
        padding: 1rem;
        height:auto;
    }
    #navigate li {
        margin:0rem;
        
    }


    #toplogo {
        animation-duration: 0s;

    }



    form{
        width: 480px;
        padding: 15px;
        margin: 20px;
        border: 1px solid #eeeeee;
    
    }

    #careerRadioBtns{
        width: 480px;
        padding: 15px;
        margin: 20px;
    
    }
    
    #careerSelection {
        margin:2rem;
    }
    

    p{
        padding:0.2rem;
    }
    #sidebar{
        padding: 0rem;
        margin: 0rem;
    }

    #articleMessageExperience {
        height: auto;
    }
 }