/* apply CSS Grid for images */

#images {
    display: grid;
    grid-template-columns: 10em 10em;
    column-gap: 15rem;
    row-gap: 3rem;
}

p {
    font-size: 1rem;
    width: 50rem;
    margin:0rem;
}
#note {    
    font-size: .7rem;
    width: 50rem;
    
}

.griditems {
    height: 45em;
}

@media only screen and (max-width: 600px) {
    #images {
        display: grid;
        grid-template-columns: 2em 2em;
        column-gap: 12rem;
        row-gap: 1rem;
        margin-top:2rem;

    }

img {
    width: 8rem;
    
}

p{
    width: 20rem;
    padding-left:2rem;
    margin-top: 2rem;
    
}

.griditems {
height: 45rem;
    
}

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    p {
        font-size: 1rem;
        width: 35rem;
        margin:0rem;
    }


    
}

/* Portrait */
@media only screen and (min-width: 1024px) 
and (max-height: 1366px) 
and (-webkit-min-device-pixel-ratio: 1.5) and (orientation:portrait) {
    p {
        font-size: 1rem;
        width: 35rem;
        margin:0rem;
    }
}