

#txtfirstName, #txtlastName, #txtEmail, #dropdown  {
    position: relative;
    left:6.1rem;
    border-radius: 2rem;
    margin: 0.7rem;    
}

/*  last name & email styling is inherited from above but the left 
    placement is overrident to align neatly with the surrounding text boxes */
#txtlastName {    
    left:6.3rem;
    
}

#txtEmail {    
    left:8.4rem;    
}

#dropdown {    
    left:1.5rem;
    width: 9.5rem;    
    /* width: 10.8rem;     */
}

#errMsgSection{
    color:rgb(238, 12, 12);
}

/* override li style from parent css */
#errMsgSection li {
    margin-left:1.9rem;
}

.griditems {
    height: 45em;
}




/* Small devices (smartphones, 600px and down)*/

@media only screen and (max-width: 600px) {


    form {
        margin-top: 3rem;
        padding: 1rem;
        width: 380px;
    
    }

    #txtfirstName{
        margin-top: 1rem;
    }

    #txtEmail {    
        left:7.8rem;    
    }
    
    #dropdown {    
        left:2.5rem;
        width:auto;    
    }

    

    p{
        width: 20rem;
        padding-top:2rem;
        
    }
}


/* For medium tablet devices. */

@media only screen and (min-width: 600px) and (max-width: 900px) {

    .griditems {
        height: 40em;
    }
    
    #txtEmail {    
        left:7.8rem;    
    }
    
    #dropdown {    
        left:2.5rem;    
    }
    form {
        margin-top: 3rem;
        padding: 1rem;
        width: 580px;
    
    }
    
    

}

/* Chrome version 29 and above, set the dropdown differently as Chrome processes the width differently*/
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
    #dropdown { 
        width:10.8rem; 
    }
}

/* For Firefox, adjust the dropdown width differently. */
@-moz-document url-prefix() {
    #dropdown { 
        width: 9.5rem;    
    }
}