<!DOCTYPE html>
<html lang="en">

<!--
Student:    Karn Kausal
Class:      MET CS 601
Revision:   12.7.2021
-->

<head>
    <title>Contact Form</title>
    <meta charset="UTF-8" />
    <meta name="author" content="Karn Kausal" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <link href="css/stylescontact.css" type="text/css" rel="stylesheet">


</head>

<body class="contact-body">
    <div class="container">
        <header id="navigate">
            <img src="images/contactlogo.png" alt="Logo text that says Contact" />
            <nav>
                <ul>
                    <li><a href="index.html">Main</a></li>
                    <li><a href="personal.html">Bio</a></li>
                    <li><a href="hobbies.html">Hobbies</a></li>
                    <li><a href="famousquotes.html">Quotes</a></li>
                    <li><a href="career.html">Career</a></li>
                    <li><a href="contact.html">Contact</a></li>

                </ul>
            </nav>
        </header>

        <section class="griditems">
            <div id="app">
                <form action="" v-on:submit.prevent="validateForm" method="post" id="contactentries">
                    <label>First Name: </label>
                    <input id="txtfirstName" ref="first" v-model="fname" placeholder="e.g. James">
                    <br />
                    <label>Last Name: </label>
                    <input id="txtlastName" ref="last" v-model="lname" placeholder="e.g. Smith">
                    <br />
                    <label>Email: </label>
                    <input id="txtEmail" type="email" v-model="em" placeholder="e.g. abc@xyz.com" required>
                    <br />


                    <!-- adds a drop down menu -->
                    <label>Are you an employer?: </label>
                    <select id="dropdown" v-model="selectedOption">
                        <option disabled value="">Please select one</option>
                        <option>Yes</option>
                        <option>No</option>

                    </select>
                    <br />
                    <input type="submit" value="Submit" />

                </form>
                <section id="errMsgSection">
                    <p v-if="errorList.length">
                        Please note the following errors:
                        <ul>
                            <li v-for="err in errorList">{{err}}</li>
                        </ul>
                    </p>
                </section>

            </div>

        </section>

        <footer>
            &copy; Karn Kausal
        </footer>
    </div>
    <!--Include Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/vuecontact.js"></script>
</body>

</html>