<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" type="text/css" rel="stylesheet">
    <link href="css/stylesvue.css" type="text/css" rel="stylesheet">
    <title>Famous Quotes</title>
</head>


<body class="career-body">
    <div class="container">
        <header id="navigate">
            <img src="images/quoteslogo.png" alt="Logo text that says Quotes" />
            <nav>
                <ul>
                    <li><a href="index.html">Main</a></li>
                    <li><a href="personal.html">Bio</a></li>
                    <li><a href="hobbies.html">Hobbies</a></li>
                    <li><a href="famousquotes.html">Quotes</a></li>
                    <li><a href="career.html">Career</a></li>
                    <li><a href="contact.html">Contact</a></li>

                </ul>
            </nav>
        </header>
        <section class="griditems">
        <div id="app">        
        <!-- This section of images is styled via css grid. 
             Four images are shown on the page and as the user hovers over an image,
             an alternate image appears.  As the mouse leaves the image area, the 
             image previously or orginally shown appears again.  -->
        <section id="images">            
            <a v-on:mouseover="mouseOverJoker" v-on:click="mouseOverJoker" v-on:mouseleave="mouseLeaveBatman"><img :src="logoBatman" alt="Photo of Batman/Joker" /></a>
            <a v-on:mouseover="mouseOverCatwoman" v-on:click="mouseOverCatwoman" v-on:mouseleave="mouseLeaveCatBruce"><img :src="logoCatwoman" alt="Photo of Catwoman/Bruce" /></a>
            <a v-on:mouseover="mouseOverBowser" v-on:click="mouseOverBowser" v-on:mouseleave="mouseLeaveMario"><img :src="logoMario" alt="Photo of Mario/Bowser" /></a>        
            <a v-on:mouseover="mouseOverAndroid" v-on:click="mouseOverAndroid" v-on:mouseleave="mouseLeaveApple"><img :src="logoPhone" alt="Photo of Apple/Android" /></a>        
        </section>
        
        <!-- Display famous quotes as the user hovers using the "v-else-if" directive. -->
        <section id="hovermsg">
            <p v-if="isItJokerBatman">
                Joker:  "Why So Serious?" <br />
                Batman:  "A hero can be anyone, even a man doing something as simple and reassuring as putting a coat on a young boy's shoulders to let him know that the world hadn't ended."
            </p>
            <p v-else-if="isItCatBruce">
                Catwoman (Selina Kyle):  "There's a storm coming, Mr. Wayne." <br />
                Bruce:  "The mask is not for you. It's to protect the people you care about."
            </p>
            <p v-else-if="isItMarioBowser">
                Mario:  "It's me, Mario!" <br />
                Bowser:  "I'll get you for this, Mario!"
            </p>
            <p v-else-if="isItAppleAndroid">
                Apple:  "Hey, Siri!" <br />
                Android:  "Hey, Google!"
            </p>
            <p v-else>{{welcomemsg}} 
                <br />
                <span id="note">{{note}}</span>
            </p>
        </section>        

    </div>
</section>
<footer>
    &copy; Karn Kausal
</footer>
    </div>
    <!--Include Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <script src="js/vue.js"></script>
</body>

</html>