{{!-- diplay the zip code data --}}
<b>Zip Code </b> {{zipCode}}

<p></p>
City: {{city}}, State: {{state}}, Population: {{population}}
<p></p>
<a href="/city/{{city}}/state/{{state}}">Click here for all Zip Codes for {{city}}, {{state}}</a>