<b>Results for {{city}}, {{state}}</b>
<p></p>
<table>
    <tr><th>ZipCode</th><th>Population</th></tr>
</table>

{{#each allCityStateInfo}}
    <table width="145">
        <tr>
            <td align="left">
                <a href="/zip/{{zip}}">{{zip}} </a>
            </td>
            <td align="right">{{pop}}</td>
        </tr>
    </table>
    <p></p>
{{/each}}

